@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sidebar-width: 18rem;
    --sidebar-width-shrinked: 7rem;
}

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url('../assets/fonts/Gilroy-Light.woff2') format('woff2');
}
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url('../assets/fonts/Gilroy-Regular.woff2') format('woff2');
}
@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url('../assets/fonts/Gilroy-Medium.woff2') format('woff2');
}
@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2');
}
@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url('../assets/fonts/Gilroy-Bold.woff2') format('woff2');
}
@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    src: url('../assets/fonts/Gilroy-Extrabold.woff2') format('woff2');
}
@font-face {
    font-family: "Gilroy";
    font-weight: 900;
    src: url('../assets/fonts/Gilroy-Black.woff2') format('woff2');
}

body {
    font-family: "Gilroy", sans-serif;
}

.form-wrapper {
    background-image: url('../assets/images/form-wrapper-bg.webp');
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.password-toggle .show-password {
    display: block;
}

.password-toggle .hide-password {
    display: none;
}

.password-toggle.shown .show-password {
    display: none;
}

.password-toggle.shown .hide-password {
    display: block;
}

.image-wrapper:nth-child(1) img {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    animation: clip1 1s ease-in-out 0s backwards;
}
.image-wrapper:nth-child(2) img {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    animation: clip2 1s ease-in-out .5s backwards;
}

@keyframes clip1 {
    0% {
        clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
    }
    
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}
@keyframes clip2 {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

.login-circle::before {
    content: "";
    width: 20%;
    aspect-ratio: 1;
    background-color: #00cc83;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

/* <!-- 640px   768px 1024px  1280px 1536px--> */


/* .login-circle::after {
    content: "";
    width: 2rem;
    height: .25rem;
    border: 1px solid;
    background-image: url("./assets/images/arrow.svg");
    background-size: contain;
    background-position: center;
} */
 

/* Sidebar Styles */
.menu-item.active {
    position: relative;
    color: #00cc83;
    /* background-color: #00cc83; */
}
.menu-item.active::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0;
    bottom: 0;
    background-color: #00cc83;
    width: .5rem;
    border-radius: 5rem;
    margin-block: auto;
    /* height: 2.5rem; */
}
.menu-item.active span {
    font-weight: 700;
}
.menu-item.active svg {
    color: black;
    filter: invert(99%) sepia(78%) saturate(1575%) hue-rotate(76deg) brightness(89%) contrast(84%);
}
.menu-item svg {
    color: #8F90A6;
}

.menu-item:hover {
    color: #00cc83;
    /* background-color: #00cc83; */
}
.menu-item:hover svg {
    color: black;
    filter: invert(99%) sepia(78%) saturate(1575%) hue-rotate(76deg) brightness(89%) contrast(84%);
}

.menu-item img {
    filter: invert(58%) sepia(11%) saturate(476%) hue-rotate(199deg) brightness(98%) contrast(89%);
}

.menu-item.active img {
    filter: invert(99%) sepia(78%) saturate(1575%) hue-rotate(76deg) brightness(89%) contrast(84%);
}
.menu-item:hover img {
    filter: invert(99%) sepia(78%) saturate(1575%) hue-rotate(76deg) brightness(89%) contrast(84%);
}
.main {
    @apply h-[calc(100vh-5rem)] mt-20 pr-4 xl:pr-6 2xl:pr-8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: var(--sidebar-width);
    transition: all 1s ease;
}

:has(.sidebar_new.shrinked) .main {
    padding-left: var(--sidebar-width-shrinked);
}

.sidebar_new {
    @apply h-[calc(100vh-5rem)];
}

.status {
    @apply px-5 py-2 rounded-full inline-block text-xs font-semibold whitespace-nowrap;
}
.status.completed {
    @apply text-emerald-500 bg-emerald-100;
} 
.status.approved {
    @apply text-emerald-500 bg-emerald-100;
}
.status.pending {
    @apply text-amber-500 bg-amber-100;
}
.status.hold {
    @apply text-red-500 bg-red-100;
}
.status.rejected {
    @apply text-red-500 bg-red-100;
}
.status.progress {
    @apply text-purple-500 bg-purple-100;
}
.status.overrun {
    @apply text-blue-500 bg-blue-100;
}
.status.onbench {
    @apply text-orange-500 bg-orange-100;
}
.status.deployed {
    @apply text-emerald-500 bg-emerald-100;
}
.status.draft {
    @apply text-slate-500 bg-slate-200;
}
.status.lwp {
    @apply text-slate-500 bg-slate-200;
}
.status.ml {
    @apply text-pink-500 bg-pink-100;
}
.status.others {
    @apply text-gray-500 bg-gray-100;
}
.status.over {
    @apply text-rose-500 bg-rose-100;
}

.status-toggle.lwp {
    @apply text-slate-500 bg-slate-100;
    
    svg {
        @apply text-slate-500;
    }
}
.status-toggle.ml {
    @apply text-pink-500 bg-pink-100;

    svg {
        @apply text-pink-500;
    }
}
.status-toggle.onbench {
    @apply text-red-500 bg-red-100;

    svg {
        @apply text-red-500;
    }
}

.status-toggle.deployed {
    @apply text-emerald-500 bg-emerald-100;
    
    svg {
        @apply text-emerald-500;
    }
}
.status-toggle.overrun {
    @apply text-blue-500 bg-blue-100;

    svg {
        @apply text-blue-500;
    }
}


/* @media screen and (max-width: 1280px) {
    .main {
        padding-left: 17rem;
    }
}
@media screen and (max-width: 1024px) {
    .main {
        padding-left: 14rem;
    }
} */

.k-input {
    @apply py-3 px-4 block flex-1 border-gray-200 rounded-md text-sm focus:border-emerald-500 focus:ring-emerald-500;
}

input.is-invalid {
    @apply border-red-400 focus:border-red-500 focus:ring-red-500;
}

.project-link {
    @apply block max-w-full overflow-hidden text-ellipsis whitespace-nowrap text-sm p-2;
}

.login-input {
    @apply py-3 xl:py-4 2xl:py-5 px-4 pl-10 2xl:pl-14 block w-full border-gray-200 shadow-sm rounded-md text-sm md:text-base 2xl:text-xl focus:z-10 focus:border-[#00cc83] focus:ring-[#00cc83] placeholder:text-gray-300;
}
.login-input.is-invalid {
    @apply border-red-400;
}

.project-link:hover {
    background-color: #fafafa;
}

.project-link.active {
    @apply bg-[#fafafa] font-semibold;
}

.multipart-indicator {
    border-bottom: 2px solid transparent;
}
.multipart-indicator.active {
    border-bottom: 4px solid #00cc83;
    font-weight: bold;
}

.multipart-form {
    display: none;
}
.multipart-form.active {
    display: flex;
}

.switch-view.active {
    @apply border-emerald-600 text-emerald-600 bg-gray-100;
}

/* Sidebar Styles  End*/

/* Datatable */

.dataTables_paginate .paginate_button.next,
.dataTables_paginate .paginate_button.previous {
  @apply py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-[#00CC83] transition-all text-sm cursor-pointer;
}
.dataTables_length {
    @apply float-left pl-3 pt-3 flex gap-2 items-center text-black text-sm mb-3;
}
.dataTables_filter {
    @apply float-left sm:float-right pl-3 sm:pl-0 sm:pr-3 pt-3 mb-3;
}
.dataTables_filter label {
    @apply flex gap-2 items-center text-black text-sm;
}
.paginate_button {
    @apply text-black cursor-pointer;
}
.paginate_button.current {
    @apply bg-[#00CC83] text-white rounded px-2 py-1;
}
.dataTables_info {
    @apply text-black px-5 border-t pt-2 text-sm;
}
.dataTables_paginate {
    @apply flex justify-end items-center p-4 gap-2;
}
.dataTables_paginate span {
    @apply flex items-center gap-3;
}
.dataTables_filter input {
    @apply py-2 px-3 inline-block w-auto border-gray-200 rounded-md text-sm focus:border-[#00CC83] focus:ring-[#00CC83];
}
.dataTables_length select {
    @apply py-2 px-3 pr-9 inline-block w-auto border-gray-200 rounded-md text-sm focus:border-[#00CC83] focus:ring-[#00CC83];
}
.dataTables_empty {
    @apply text-center text-black;
}

/* Datatable */

/* @media screen and (max-width: 1370px) {

} */

@media screen and (max-width: 1600px) {
    html {
        font-size: 80%;
    }
}
/* @media screen and (max-width: 1500px) {
    html {
        font-size: 80%;
    }
} */
@media screen and (max-width: 1400px) {
    html {
        font-size: 70%;
    }
}

.sidebar.shrinked .logo_text {
    display: none;
}

.sidebar.shrinked .menu-item-text {
    display: none;
}
.sidebar.shrinked .sidebar-dropdown-icon {
    display: none;
}

.sidebar.shrinked {
    width: 5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.sidebar.shrinked .menu-item {
    justify-content: center;
}
.sidebar.shrinked .logo {
    justify-content: center;
}

body:has(.sidebar.shrinked) .header {
    width: calc(100vw - 5rem);
}
/* .sidebar.shrinked + .header {
} */

:has(.sidebar.shrinked) .main {
    @apply pl-[6rem] xl:pl-[6.5rem] 2xl:pl-[7rem];
}

.header {
    transition: width .25s linear;
}

.main {
    transition: padding-left .25s linear;
}

.open-mobile-sidebar {
    display: none;
}

@media screen and (max-width: 1000px) {
    .sidebar, .sidebar_new {
        display: none;
    }

    .header {
        width: 100vw !important;
    }

    .main {
        padding-left: 1rem !important;
    }

    .sidebar-toggle {
        display: none;
    }

    .open-mobile-sidebar {
        display: inline-flex;
    }

    .resizable-panel {
        margin-left: 0 !important;
    }

    .logo_full_form {
        display: none;
    }
}

.checklist-wrapper input[type="checkbox"]{
    display: none;
}

.checklist-wrapper.edit-mode input[type="checkbox"]{
    display: block;
}

.checklist-wrapper .additional-information {
    display: none;
}

.checklist-wrapper.edit-mode .additional-information {
    display: block;
}

.checklist-wrapper .assign-btn,
.checklist-wrapper .reject-btn {
    display: block;
}

.checklist-wrapper .submit-reject-btn,
.checklist-wrapper .cancel-reject-btn {
    display: none;
}
.checklist-wrapper.edit-mode .assign-btn,
.checklist-wrapper.edit-mode .reject-btn {
    display: none;
}

.checklist-wrapper.edit-mode .submit-reject-btn,
.checklist-wrapper.edit-mode .cancel-reject-btn {
    display: block;
}

.dh-checklist-fill textarea {
    display: none !important ;
}

.dh-checklist-fill:has(input:checked) textarea {
    display: block !important;
}
.is-invalid {
    @apply border-red-400 focus:border-red-500 focus:ring-red-500;
}

::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-500;
}

.last-column-fixed th:last-child,
.last-column-fixed td:last-child {
    background-color: white;
    position: sticky;
    right: 0;
}
.first-column-fixed th:first-child,
.first-column-fixed td:first-child {
    background-color: white;
    position: sticky;
    left: 0;
}

.ss-main {
    @apply focus:border-emerald-500 focus:ring-emerald-500 px-4 py-2 focus:shadow-none;
}

.ss-content .ss-search input {
    @apply focus:border-emerald-500 focus:ring-emerald-500 px-4 py-2 focus:shadow-none;
}

.ss-main .ss-values .ss-value {
    @apply bg-emerald-400;
}

.ss-selected {
    @apply !bg-emerald-400;
}

.ss-max {
    @apply !bg-emerald-400;
}

.ss-option {
    @apply hover:!bg-emerald-400;
}

.note-editor {
    width: 100%;
}

.note-toolbar,
.note-statusbar {
    background-color: #fff !important;
}

.resizable-panel {
    @apply ml-[13rem] xl:ml-[16.5rem] 2xl:ml-[17rem];
    width: 100%;
}

.filter-dropdown:has(input:checked) .hs-dropdown-toggle {
    @apply bg-black;
}
.filter-dropdown:has(input:checked) .hs-dropdown-toggle svg {
    @apply text-white;
}

.hidden-row {
    display: none;
}

.hidden-row.show {
    display: table-row;
}

.approve-all-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s ease;
}

.approve-btn {
    transition: opacity .25s ease;
}

:has(#select-all:checked) .approve-all-btn {
    opacity: 1;
    pointer-events: all;
}

:has(#select-all:checked) .approve-btn {
    opacity: 0;
    pointer-events: none;
}

.edit-mode-content {
    display: none !important;
}
tr.edit-mode .normal-mode-content {
    display: none !important;
}
tr.edit-mode .edit-mode-content {
    display: block !important;
}


.project-switch {
    z-index: 1;
    transition: all 1s ease;
}
.project-switch::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #222;
    border-radius: 10rem;
    z-index: -1;
    left: 0;
    transition: all .25s ease;
}
:has(#projects:checked) .project-switch::before {
    left: 50%;
    /* right: 0; */
}